Repository github/stack-graphs, pull requests merged in 2023-02, with the labels that each got.

#178 Partial path improvements
  stack-graphs/src/partial.rs
  stack-graphs/src/paths.rs
  stack-graphs/src/stitching.rs
  stack-graphs/tests/it/c/can_find_local_nodes.rs
  stack-graphs/tests/it/c/can_find_partial_paths_in_file.rs
  stack-graphs/tests/it/c/can_jump_to_definition_with_phased_partial_path_stitching.rs
  stack-graphs/tests/it/can_find_local_nodes.rs
  stack-graphs/tests/it/can_find_node_partial_paths_in_database.rs
  stack-graphs/tests/it/can_find_partial_paths_in_file.rs
  stack-graphs/tests/it/can_jump_to_definition_with_forward_partial_path_stitching.rs
  stack-graphs/tests/it/partial.rs
Labels: stack-graphs

#177 More partial path finding improvements
  stack-graphs/src/arena.rs
  stack-graphs/src/assert.rs
  stack-graphs/src/c.rs
  stack-graphs/src/graph.rs
  stack-graphs/src/json.rs
  stack-graphs/src/partial.rs
  stack-graphs/src/paths.rs
  stack-graphs/src/stitching.rs
  stack-graphs/src/visualization.rs
  stack-graphs/tests/it/c/can_find_partial_paths_in_file.rs
  stack-graphs/tests/it/can_find_local_nodes.rs
  stack-graphs/tests/it/can_find_node_partial_paths_in_database.rs
  stack-graphs/tests/it/can_find_partial_paths_in_file.rs
  stack-graphs/tests/it/can_find_root_partial_paths_in_database.rs
  stack-graphs/tests/it/can_jump_to_definition_with_forward_partial_path_stitching.rs
  stack-graphs/tests/it/can_jump_to_definition_with_forward_path_stitching.rs
  stack-graphs/tests/it/json.rs
  tree-sitter-stack-graphs/src/cli/analyze.rs
  tree-sitter-stack-graphs/src/cli/test.rs
  tree-sitter-stack-graphs/src/lib.rs
  tree-sitter-stack-graphs/src/test.rs
  tree-sitter-stack-graphs/tests/it/test.rs
Labels: tree-sitter-stack-graphs, stack-graphs, typescript

#191 Add action for Java tssg releases
  .github/workflows/publish-tree-sitter-stack-graphs-java.yml
Labels: java

#196 Specify tree-sitter-java crate version
  languages/tree-sitter-stack-graphs-java/Cargo.toml
Labels: java
